<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<style>
    div{
        margin: 10px;
        
    }
    button:hover {
  background-color: rgb(144, 137, 247);
}
   button{
    padding: 10px;
   }
   td,th{
        padding: 20px;
        border-radius: 5px;
        background-color: bisque;
        
    }
</style>

<body>
    <div id="div1" align="center">
        <% if(page!=1){ %>
        
            <button><a href="/<%= page-1 %>" >preview</a></button>
        
            <% } %>
        <%
        for(let i=0; i< pages.length;i++){
            %>
        
        <% if(pages[i]===page){ %>
        
        <a href="#" ><%=pages[i]%></a>
        
        <% }else{ %>
        
        <button><a href="/<%= pages[i] %>"><%= pages[i] %></a></button>
            <% } %>
            <% } %>
            <% if(page!==pages.length){ %>
        
                <button><a href="/<%= page+1 %>" >next</a></button>
            
                <% } %>
                     
            </div>
        
           
            <table border="1" align="center">
                <tr>
                    <th>id</th>
                    <th>fname</th>
                    <th>lname</th>
                    <th>email</th>
                    <th>dob</th>
                    </tr>
                
                <%
                for(let j=0; j< data.length;j++){
                    %>
                
                <tr>
                    <td><%=data[j].id %></td>
                    <td><%=data[j].fname %></td>
                    <td><%=data[j].lname %></td>
                    <td><%=data[j].email %></td>
                    <td><%=data[j].dob %></td>
                   
                </tr>
              <% } %>
            </table>

</body>
</html>