<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
</head>
<style>
    tr {
        padding: 20px;

    }
</style>

<body>
    <div class="table-data">

        <table border="1" align="center">
            <tr>
                <th>id</th>
                <th>fname</th>
                <th>lname</th>
                <th>email</th>
                <th>dob</th>
            </tr>

            <% for(let i=0; i< 10;i++){ %>

                <tr>
                    <td>
                        <%= data[0][i].id %>
                    </td>
                    <td>
                        <%= data[0][i].fname %>
                    </td>
                    <td>
                        <%= data[0][i].lname %>
                    </td>
                    <td>
                        <%= data[0][i].email %>
                    </td>
                    <td>
                        <%= data[0][i].dob %>
                    </td>
                </tr>
                <% } %>
        </table>


        <table border="1" align="center">
            <tr>
                <th>id</th>
                <th>fname</th>
                <th>lname</th>
                <th>email</th>
                <th>dob</th>
            </tr>

            <% for(let i=0; i< 10;i++){ %>

                <tr>
                    <td>
                        <%=data[1][i].id %>
                    </td>
                    <td>
                        <%=data[1][i].fname %>
                    </td>
                    <td>
                        <%=data[1][i].lname %>
                    </td>
                    <td>
                        <%=data[1][i].email %>
                    </td>
                    <td>
                        <%=data[1][i].dob %>
                    </td>
                </tr>
                <% } %>
        </table>
        <table border="1" align="center">
            <tr>
                <th>id</th>
                <th>fname</th>
                <th>lname</th>
                <th>email</th>
                <th>dob</th>
            </tr>

            <% for(let i=0; i< 10;i++){ %>

                <tr>
                    <td>
                        <%=data[2][i].id %>
                    </td>
                    <td>
                        <%=data[2][i].fname %>
                    </td>
                    <td>
                        <%=data[2][i].lname %>
                    </td>
                    <td>
                        <%=data[2][i].email %>
                    </td>
                    <td>
                        <%=data[2][i].dob %>
                    </td>
                </tr>
                <% } %>
        </table>
        <table border="1" align="center">
            <tr>
                <th>id</th>
                <th>fname</th>
                <th>lname</th>
                <th>email</th>
                <th>dob</th>
            </tr>

            <% for(let i=0; i< 10;i++){ %>

                <tr>
                    <td>
                        <%=data[3][i].id %>
                    </td>
                    <td>
                        <%=data[3][i].fname %>
                    </td>
                    <td>
                        <%=data[3][i].lname %>
                    </td>
                    <td>
                        <%=data[3][i].email %>
                    </td>
                    <td>
                        <%=data[3][i].dob %>
                    </td>
                </tr>
                <% } %>
        </table>
        </table>
        <table border="1" align="center">
            <tr>
                <th>id</th>
                <th>fname</th>
                <th>lname</th>
                <th>email</th>
                <th>dob</th>
            </tr>

            <% for(let i=0; i< 10;i++){ %>

                <tr>
                    <td>
                        <%=data[4][i].id %>
                    </td>
                    <td>
                        <%=data[4][i].fname %>
                    </td>
                    <td>
                        <%=data[4][i].lname %>
                    </td>
                    <td>
                        <%=data[4][i].email %>
                    </td>
                    <td>
                        <%=data[4][i].dob %>
                    </td>
                </tr>
                <% } %>
        </table>
    </table>
    <table border="1" align="center">
        <tr>
            <th>id</th>
            <th>fname</th>
            <th>lname</th>
            <th>email</th>
            <th>dob</th>
        </tr>

        <% for(let i=0; i< 10;i++){ %>

            <tr>
                <td>
                    <%=data[5][i].id %>
                </td>
                <td>
                    <%=data[5][i].fname %>
                </td>
                <td>
                    <%=data[5][i].lname %>
                </td>
                <td>
                    <%=data[5][i].email %>
                </td>
                <td>
                    <%=data[5][i].dob %>
                </td>
            </tr>
            <% } %>
    </table>
</table>
<table border="1" align="center">
    <tr>
        <th>id</th>
        <th>fname</th>
        <th>lname</th>
        <th>email</th>
        <th>dob</th>
    </tr>

    <% for(let i=0; i< 10;i++){ %>

        <tr>
            <td>
                <%=data[6][i].id %>
            </td>
            <td>
                <%=data[6][i].fname %>
            </td>
            <td>
                <%=data[6][i].lname %>
            </td>
            <td>
                <%=data[6][i].email %>
            </td>
            <td>
                <%=data[6][i].dob %>
            </td>
        </tr>
        <% } %>
</table></table>
<table border="1" align="center">
    <tr>
        <th>id</th>
        <th>fname</th>
        <th>lname</th>
        <th>email</th>
        <th>dob</th>
    </tr>

    <% for(let i=0; i< 10;i++){ %>

        <tr>
            <td>
                <%=data[7][i].id %>
            </td>
            <td>
                <%=data[7][i].fname %>
            </td>
            <td>
                <%=data[7][i].lname %>
            </td>
            <td>
                <%=data[8][i].email %>
            </td>
            <td>
                <%=data[8][i].dob %>
            </td>
        </tr>
        <% } %>
</table>
</table>
<table border="1" align="center">
    <tr>
        <th>id</th>
        <th>fname</th>
        <th>lname</th>
        <th>email</th>
        <th>dob</th>
    </tr>

    <% for(let i=0; i< 10;i++){ %>

        <tr>
            <td>
                <%=data[9][i].id %>
            </td>
            <td>
                <%=data[9][i].fname %>
            </td>
            <td>
                <%=data[9][i].lname %>
            </td>
            <td>
                <%=data[9][i].email %>
            </td>
            <td>
                <%=data[9][i].dob %>
            </td>
        </tr>
        <% } %>
</table>
    </div>
</body>

</html>